<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link href="./static/css/home-style.css" rel="stylesheet" type="text/css" /> -->
        <link th:href="@{/css/home-style.css}" rel="stylesheet" />
        <!-- <script type="text/javascript" th:src="@{/javascript/webcam.js}"></script> -->
        <title>Squat Squad|Home </title>
    </head>
    
    <body class = "dark">
        <h1>Welcome to Squat Squad</h1>
        <h2>Do your squats safely and effectively -- Get your squats assessed via your webcam!</h2>
        
        <br>
        <div id = "Camera"> 
            <h3>For the best results, keep one meter between you and your device, while facing sideways from the camera. </h3>
        </div>

        <br>
        <div class = "webcam">
        <!-- <div><video id="video" width="640" height="480" autoplay></video>
            <canvas id="canvas" width="640" height="480"></canvas></div> -->
            <p>Webcam coming soon...</p>
        </div>
        <br>
        <div class="wrapper">
        <button id = "styled"> Start</button>
        </div>

        <br><br>
        <div id = "Squat"> 
            <!--REFERENCE: https://www.realsimple.com/health/fitness-exercise/workouts/squat-form-->
            <h3>Tips for a proper squat:</h3>
            <ol>
                <li>Stand with feet a little wider than hip width with toes facing forwards.</li>
                <li>Keep your knees behind your toes</li>
                <li>Press your knees slightly outwards</li>
                <li>Chest up and shoulders back.</li>
              </ol>
        </div>
        
        
        </body>
</html>